.App {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.canvas-grids-container {
  display: flex;
  align-items: flex-start;
}

#image-canvas-grid {
  margin-right: 2em;
}


@media print {
  #config-bar,
  .drop-here-text {
    display: none;
  }
}
